/* AllOrdersComponent.css */

.all-orders-container {
    font-family: sans-serif;
    padding: 20px;
  }
  
  .all-orders-title {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .orders-grid {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px; /* Adjust gap as needed */
    justify-content: center;
  }
  
  .order-card {
    border: 1px solid #ddd;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 350px; /* Adjust card width as needed */
    background-color: white;
  }
  
  .order-card h4 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
  }
  
  .order-card p {
    margin-bottom: 8px;
    color: #666;
  }
  
  .order-card strong {
    font-weight: bold;
    color: #444;
  }
  
  .no-orders-message {
    color: #777;
    font-style: italic;
  }